export(train.ada, train.rpart, train.bayes, train.randomForest, train.knn, train.nnet, train.neuralnet, train.svm, train.xgboost, train.glm, contr.dummy, contr.ordinal,
       confusion.matrix, general.indexes, varplot)

importFrom("stats", "na.fail", "na.omit", "na.pass", "update", "as.formula", "predict", "binomial", "glm")
importFrom("utils", "head", "capture.output")
importFrom("rpart", "rpart", "na.rpart")
importFrom("randomForest", "randomForest")
importFrom("e1071","naiveBayes","svm")
importFrom("ada","ada")
importFrom("kknn","train.kknn","contr.dummy", "contr.ordinal")
importFrom("nnet", "nnet")
importFrom("neuralnet","neuralnet")
importFrom("xgboost","xgboost","xgb.DMatrix", "xgb.train")
importFrom("dplyr","%>%","select")
importFrom("dummies","dummy.data.frame")
importFrom("graphics", "plot")
importFrom("stringr","str_detect")

S3method(predict, ada.prmdt)
S3method(predict, bayes.prmdt)
S3method(predict, knn.prmdt)
S3method(predict, nnet.prmdt)
S3method(predict, neuralnet.prmdt)
S3method(predict, randomForest.prmdt)
S3method(predict, rpart.prmdt)
S3method(predict, svm.prmdt)
S3method(predict, xgb.Booster.prmdt)
S3method(predict, glm.prmdt)
S3method(print, prmdt)
S3method(plot, prmdt)
S3method(print, prediction.prmdt)
S3method(print, indexes.prmdt)
